.card-recent-location {
  @include flex(center, center);

  &__image {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-right: 10px;
  }

  &__content {
    flex-grow: 1;

    h4 {
      font-weight: 600;
    }

    p {
      color: $color-white-1;
    }
  }
}
