@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #484848;
  background-color: $bg-white-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: $color-primary;
}

img {
  max-width: 100%;
}

button,
input {
  outline: 0;
}

p {
  margin-bottom: 0;
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $val in $numbers {
  .grid-col-lg-#{$val} {
    @include desktop {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .grid-col-md-#{$val} {
    @include tablet {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .col-#{$val} {
    width: calc((($val / 12) * 100%));
  }
}

@each $val in $numbers {
  .col-xl-#{$val} {
    @include lager-desktop {
      width: calc(($val / 12) * 100%);
    }
  }
}

@each $val in $numbers {
  .col-lg-#{$val} {
    @include desktop {
      width: calc(($val / 12) * 100%);
    }
  }
}

@each $val in $numbers {
  .col-md-#{$val} {
    @include tablet {
      width: calc(($val / 12) * 100%);
    }
  }
}

@each $val in $numbers {
  .col-sm-#{$val} {
    @include mobile {
      width: calc(($val / 12) * 100%);
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

// [class*="col-"] {
//   padding: 0 15px;
// }

.container {
  width: 100%;
  max-width: 1620px;
  padding: 0 50px;
  margin: auto;

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 10px;
  }

  &.fluid {
    max-width: 100%;
  }
}

.grid {
  display: grid;
}

.page-header {
  padding: 30px;
  margin-bottom: 30px;
  background-color: $bg-white-0;
  box-shadow: $box-shadow-2;
  border-radius: $border-radius-2;

  &__title {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }

  &__btns {
    @include flex(center, space-between);

    &__add-btn {
      button {
        height: 50px;
        padding: 0 50px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

.text-danger {
  color: red;
}

.card {
  padding: 30px;
  margin-bottom: 30px;
  background-color: $bg-white-0;
  box-shadow: $box-shadow-2;
  border-radius: $border-radius-2;
}

.full-height {
  height: 100%;
}

.card.full-height {
  height: calc(100% - 30px);
}

.card__header {
  text-transform: capitalize;
}

.card > div ~ div {
  margin-top: 30px;
}

.card__footer {
  text-align: center;
  text-transform: capitalize;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-pagination-options {
  display: none;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
  border-radius: 50%;
}

.ant-pagination-item-active a {
  color: $txt-white-0;
}

.ant-pagination-item,
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
  border: none;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 1rem;
}

.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  min-width: 32px;
  height: 32px;
  line-height: 32px;
}

.ant-pagination-item-active {
  background-color: $color-dark-4;
}

.ant-pagination-item:hover,
.ant-pagination-prev .ant-pagination-item-link:hover,
.ant-pagination-next .ant-pagination-item-link:hover {
  background-color: $bg-white-3;
}

.ant-pagination-item:hover > a,
.ant-pagination-prev .ant-pagination-item-link:hover > span,
.ant-pagination-next .ant-pagination-item-link:hover > span {
  color: $color-dark-1;
}
